# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Developement files
*.log
*.sql
*.sqlite
.*.sw?
.rvmrc
.tags*
.env
.npmrc
*.lock
/node_modules
tags
